.plusbtn:hover,
.plusbtn:focus,
.minusbtn:hover,
.minusbtn:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.plusbtn,
.minusbtn {
  height: 30px;
  width: 80px;
  border: 2px solid #ef6eae;
  color: #ef6eae;
  background-color: white;
  border-radius: 10px;
  font-size: 2vh;
}

$colors: (
  plusbtn: #ef6eae,
  minusbtn: #ef6eae,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

button {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: grey;
  }
}
